<h5> Edit your comment:</h5>
  <%= simple_form_for @comment, url: { action: 'update' } do |f| %>
  <%= f.input :attending, required: true, as: :radio_buttons %>
  <%= f.input :comment, as: :text, label: 'optional comment' %>
  <%= f.button :submit %>
<% end %>