<!-- some form to create a new comment using the create function
required: attending (yes/no)
optional comment
include validations
set this comment's event_id to be the current event(possibly include it in the form) 
-->

<h5> comment by letting people know if you'll be attending!</h5>
  <%= simple_form_for Comment.new, url: { action: 'create' } do |f| %>
  <%= f.input :attending, required: true, as: :radio_buttons %>
  <%= f.input :comment, as: :text, label: 'optional comment' %>
  <%= f.button :submit %>
<% end %>
