<head>
</head>
<body>
	<div id = "infocontain">
	<h3>Hi there <b><%= @user.name if @user.name %></h3></b>

	<ul><p><b>YOUR EMAIL:</b> <%= @user.email if @user.email %></p></ul>
  	<br><br>


	<h4>Your Events:<h4>


	<h5>Events You're Going To:</h5>


  <button type="button" class="btn btn-default btn-lg">Create Your Own Event!</button>


	</div>
</body>


  <style type="text/css">
      body {
      	left: 0;
      	font-family: "Roboto Slab","Helvetica Neue",,Helvetica,Arial,sans-serif;"

      }
      #infocontain{
      	margin-left: 60px;
      	padding-top: 20px;
      }

  </style>