<h1>Events#index</h1>
list all the events created by all users and clickable links, short description etc, for users to discover

instructors want us to make this pretty, like a good looking calendar

can also do a search option to look over all events titles/descriptions to find keywords and display those events