<h1>Events#show</h1>
list the details of this event

if logged-in user is the creator: have options to change the event details/delete event
(if you want, give it the ability to delete attendees as well, but it might complicate users view-need to remove the event from deleted user's feed, as well as the list of discoverable events, will need to update database column)

if logged-in user is not the creator: let them leave a comment (comments_new_path)

display all the comments this event already has; have an edit/delete button depending on the ownership of this comment == logged-in user